@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/fonts/slick.eot");
  src: url("../fonts/fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fonts/slick.woff") format("woff"),
    url("../fonts/fonts/slick.ttf") format("truetype"),
    url("../fonts/fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slider-news .slick-next {
  top: 30px;
  right: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: transparent;
  border: 2px solid #c8c8c8;
  border-radius: unset;
}
.slider-news .slick-prev {
  top: 30px;
  right: 50px !important;
  left: unset !important;
  z-index: 9;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: transparent;
  border: 2px solid #c8c8c8;
  border-radius: unset;
}
.slider-news .slick-prev:hover,
.slider-news .slick-next:hover {
  background: #c8c8c8 !important;
}
.slick-prev:hover,
/* .slick-prev:focus, */
.slick-next:hover
/* .slick-next:focus */ {
  background: rgb(255 255 255 / 100%) !important;
  transition: 0.5s;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  line-height: 1;
  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 15px;
}
[dir="rtl"] .slick-prev {
  right: 15px;
  left: auto;
}
.slick-prev:before {
  content: "\ea64";
  font-family: "remixicon" !important;
  font-weight: 100;
}
[dir="rtl"] .slick-prev:before {
  content: "\ea6e";
  font-family: "remixicon" !important;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
}

.slick-next {
  right: 15px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: 15px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: 15px;
}
.slick-next:before {
  content: "\ea6e";
  font-family: "remixicon" !important;
  font-weight: 100;
}
[dir="rtl"] .slick-next:before {
  content: "\ea64";
  font-family: "remixicon" !important;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
}

.slider-news .slick-next:before {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 22px;
  color: #000;
}
.slider-news .slick-prev:before {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 22px;
  color: #000;
}
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: -10px;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 36px;
  height: 4px;
  margin: 0 7px;
  padding: 0;

  opacity: 0.75;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 36px;
  height: 4px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: transparent;
  border-color: #fff;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before

/* .slick-dots li button:focus:before */ {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 1px;

  width: 36px;
  height: 4px;

  content: "";
  text-align: center;

  opacity: 0.25;
  color: #fff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.7;
  color: #636363;
  font-size: 15px;
  top: 0px;
  left: 1px;
}
@media (max-width: 767px) {
  .section-news .slider-news .news .caption {
    position: unset;
    height: unset;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .slick-slide .news img {
    width: 100%;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
  }
  .slider-news .slick-prev {
    left: 65px !important;
  }
  .slider-news .slick-next {
    left: 30px !important;
  }
}
